<head>
  <%= javascript_pack_tag 'pet_vue' %>
</head>

<%= content_tag :div,
  id: "pet-form",
  data: {
    id: pet.id,
    pet: pet.to_json(except: [:created_at, :updated_at])
  } do %>

  <div class="container-fluid">

    <div class="form-group">
      <label>ID</label>
      <input class="form-control" id="pet_id" v-model="pet.id" placeholder="Enter Pet ID (Integer)">
    </div>

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" id="name" v-model="pet.name" placeholder="Enter Pet Name">
    </div>

    <div class="form-group">
      <label>Available From</label>
      <input class="form-control" id="available_from" v-model="pet.available_from" placeholder="Enter Pet Name">
    </div>

    <div class="form-group">
      <label>Age</label>
      <input class="form-control" id="age" v-model="pet.age" placeholder="Enter Pet Age">
    </div>

    <div class="form-group">
      <label>Species</label>
      <select class="form-control" id="species" v-model="pet.species">
        <%= options_for_select([
          ['Unknown', nil],
          ['cat', 'cat'],
          ['dog', 'dog'],
          ['rabbit', 'rabbit']
        ]) %>
      </select>
    </div>

    <div class="form-group">
      <label>Breed</label>
      <select class="form-control" id="breed" v-model="pet.breed">
        <%= options_for_select([
          ['Unknown', nil],
          ['labrador', 'labrador'],
          ['poodle', 'poodle'],
          ['spaniel', 'spaniel'],
          ['terrier', 'terrier']
        ]) %>
      </select>
      <small id="breedHelp" class="form-text text-muted">Select breed only for a dog.</small>
    </div>

    <button v-on:click="save" class="btn-primary">Save</button>
  </div>
<% end %>
